:root {
  --primary-tex-color: #757575;
  --title-tex-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  background-color: #ffffff;
  color: var(--primary-tex-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.71;
  /* margin: 0 200px; */
}

/* components  */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */

.main-hero {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/fotohero.jpg');
}

.site-nav {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.site-item:not(:last-child) {
  margin-right: 50px;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-icon-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 12px;
  border-radius: 100%;
  margin-right: 10px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.logo-main {
  color: #000000;
  font-family: 'Raleway';
  font-size: 26px;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logoaccent {
  color: var(--accent-color);
}

.specific.logo {
  color: var(--white-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Site-nav */

.site-nav a {
  font-family: 'Roboto';
  font-style: normal;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-item {
  position: relative;
  display: block;
}

.menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.animation-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.animation-link:hover::after,
.animation-link:focus::after {
  opacity: 1;
}

/* Auth-nav */

.auth-nav.list {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.auth-nav:first-child {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-address {
  color: var(--white-color);
  text-decoration: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-address:hover,
.contacts-address:focus {
  color: var(--accent-color);
}

/* Hero */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-hero-inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.hero {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-bottom: 30px;
}

/* Feautures */

.features-listwrapper {
  display: flex;
}

.list-features {
  width: 270px;
}

.list-features:not(:last-child) {
  margin-right: 30px;
}

.features-icon {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-features-icon {
  width: 70px;
  height: 70px;
}

.features-title {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.features-text {
  color: var(--primary-tex-color);
  font-weight: 400;
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Example */

.sphere {
  padding-top: 0;
}

.sphere-pictures {
  display: flex;
  justify-content: space-between;
}

.sphere-pictures-list {
  width: 370px;
}

.sphere-title {
  color: var(--title-tex-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.sphere-relative {
  position: relative;
}

.sphere-text-relative {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 70px;
}

.sphere-text-relative {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Team */

.team {
  background: #f5f4fa;
}

.team-cards {
  display: flex;
  gap: 30px;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card {
  flex-basis: calc((100% - 30px * 3) / 4);
}

.our-employees {
  padding-left: 30px;
  padding-right: 30px;
  padding: 30px;
}
.team-text {
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.03em;
}

.icon-team {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  gap: 10px;
  /* padding: 0 32px; */
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-basis: calc((100% - 10px * 4) / 4); */
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background-color: #ffffff;

  border-radius: 100%;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: white;
}

.social-icon {
  fill: #afb1b8;
}

.team-title {
  color: var(--title-tex-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  color: var(--title-tex-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

/* Button */

.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  background-color: #188ce8;
}

.clients {
  padding: 94px 0px;
}

.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  outline: none;
}

.clients-svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-tex-color);
  margin-bottom: 50px;
}

.clients-list {
  justify-content: center;
  gap: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list {
  display: flex;
}

.clientsplink {
  display: flex;
}

.clients-link:focus .clients-svg,
.clients-link:hover .clients-svg {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-expample {
  width: 170px;
  height: 92px;
}

/* Footer */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-icon-svg {
  margin-left: 70px;
}

.footer {
  padding: 60px 0;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.address-list:not(:last-child) {
  margin-bottom: 9px;
}

.address-footer-link {
  font-size: 14px;
}

.logo-footer {
  color: var(--white-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer {
  background-color: #2f303a;
}

.address {
  font-style: normal;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100%;
  gap: 10px;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon:focus,
.footer-link-icon:hover {
  background-color: var(--accent-color);
}

.footer-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
}

.footer-icon-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-icon-title {
  margin-bottom: 20px;
}

.footer-icon {
  fill: var(--white-color);
}

/* Portfolio */

/* Portfolio Main */

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.button-primary {
  display: block;
}

.button-primary:hover,
.button-primary:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.16);
}

.work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work-list-portfolio {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.work-portfolio {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.work-link {
  display: block;
  outline: none;
}

.work-link:focus,
.work-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.auth-nav.list a {
  color: var(--primary-tex-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  gap: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav.list a:hover,
.auth-nav.list a:focus {
  color: var(--accent-color);
}

.header-icon {
  display: flex;
  justify-content: center;
}

.header-envelope {
  fill: currentColor;
}

.button-primary {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover,
.button-primary:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Work */

.work-link {
  text-decoration: none;
}

.work-list {
  color: var(--title-tex-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.work-text {
  color: var(--primary-tex-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.portfolio-footer {
  font-style: normal;
}

/* BACKDROP */

.backdrop {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%) scale(1);

  background-color: var(--white-color);

  transition-duration: 250ms;
}

.button-close-icon {
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.cross {
  background: #000000;
}

/* OVERLAY */

.box-overlay {
  position: relative;
  overflow-y: hidden;
}

.overlay {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(+100%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--white-color);
}

.work-link:hover .overlay,
.work-link:focus .overlay {
  transform: translateY(0);
}
